<html>
<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head th:include="header_common::header">
    <title id="pageTitle">+600 Family - Registration</title>
</head>
<body>
<nav th:fragment="navSection"  class="navbar navbar-inverse navbar-expand-lg justify-content-center navbar-dark bg-dark">
    <a class="navbar-brand" href="/users/add">+600 Family</a>
</nav>
<main class="container mt-5">
    <h1>We're sorry. Something went wrong and your registration failed. Please re-register. </h1>
    <p>Go back to the <a href="/user_add">registration</a> form.</p>
</main>
</body>
</html>