<html>
<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head th:include="header_common::header">
    <title id="pageTitle">+600 Family - Registration</title>
</head>
<body>
<nav th:fragment="navSection"  class="navbar navbar-inverse navbar-expand-lg justify-content-center navbar-dark bg-dark">
    <a class="navbar-brand" href="/users/add">+600 Family</a>
</nav>
<main class="container mt-5">
    <h1>Check your email and click the verification link to proceed with the registration.</h1>
    <p>Go back to the <a href="/login">log in</a> page.</p>
</main>
</body>
</html>